<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf8">
	<title>Control Remoto</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript">
		var socket = io();
		var app = angular.module('app', []);

		app.controller("main", function($scope){
			$scope.arriba = function(){
				var msg = "arriba";
				socket.emit("arriba", msg);
			};

			$scope.abajo = function(){
				var msg = "abajo";
				socket.emit("abajo", msg);
			};

			$scope.derecha = function(){
				var msg = "Derecha";
				socket.emit("derecha", msg);
			};

			$scope.izquierda = function(){
				var msg = "izquierda";
				socket.emit("izquierda", msg);
			};
		});
	</script>
</head>
<body ng-app="app" ng-controller="main">
	<h1 class="text-center page-header"><span>Control Remoto</span></h1>
	<div class="container text-center">
		<img src="http://www.vladimirmartinez.com.ar/Iconos/boton_arriba.jpg" ng-click="arriba()" width="128px" height="128px"></img>
		
		<img src="http://www.univ-orleans.fr/sites/default/files/utilisateurs/55/images/fleche_bas_2.png" width="128px" height="128px" ng-click="abajo()"></img>
		
		<img src="http://files.musicastoria.com/200000447-609bb619c9/002-esquerda.png" width="128px" height="128px" ng-click="izquierda()"></img>

		<img src="http://files.musicastoria.com/200000446-97c7d9a6bf/001-direita.png" width="128px" height="128px" ng-click="derecha()"></img>
	</div>
</body>
</html>